<h1>About</h1>
<div class="author">
<p class="author_body">
we are a team of web developer and content creators passionate about building high-quality websites and creat 
our expertise includes:
fronted development :HTML ,CSS, JavaScript 
backend development :Node.js,Express
Database mangement : MongoDB
we take pride in our work and strive to stay up-to-date with the latest technologies and trends in the indust 

</div>
